<div class="inner-page-banner" style="background-image: url('/assets/2.jpg');">
				<div class="opacity">
					<h1>Company Story</h1>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li>/</li>
						<li>About us</li>
					</ul>
				</div> <!-- /.opacity -->
			</div> <!-- /inner-page-banner -->

			<div class="about-text" style="margin-top: -5%;">
				<div class="container">
					<div class="title">
						<h6>WELCOME TO The Rails Shop</h6>
						<h2>We are a web development shop for <br>full stack developers. Rails is our forte!.</h2>
					</div>
					<img src="/assets/inner-page/1.jpg" alt="">
					<div class="about-tab-wrapper clearfix">
						<ul class="nav nav-tabs float-left">
							<li class="active"><a data-toggle="tab" href="#history">Our History</a></li>
							<li><a data-toggle="tab" href="#vision">Vision</a></li>
							<!-- <li><a data-toggle="tab" href="#contact">Contact Us</a></li> -->
							<li><a data-toggle="tab" href="#mission">Mission</a></li>
						</ul>
						<div class="tab-content float-left">
							<div id="history" class="tab-pane fade in active">
						    	<p>Our journey began in 2012 when my brother and I started volunteering at a local primary school teaching math and English. We realized that there was a skills gap in our education system where kids finish school with no applicable skills at all. We started the <a href="http:www.todidea.com">TODIEA LTD</a>. TODIDEA stands for teachers on devices. We are currently conducting coding lessons in over 20 primary schools in the Kampala area under our partnership with the city council.</p>
						    	<img src="/assets/home/sign.png" alt="">
							</div> <!-- /#history -->
						  	<div id="vision" class="tab-pane fade">
						    	<p>Our vision is to expose every child in Uganda with a computer science education by the time they are 12 years old. </p>
						  	</div> <!-- /#vision -->
						  	<div id="contact" class="tab-pane fade">
						    	<p>Phone: +256752969844. Email: alexshyaka@todidea.com</p>
						  	</div> <!-- /#contact -->
						  	<div id="mission" class="tab-pane fade">
						    	<p>To conduct computer science lessons in over 100 primary schools in Uganda by the year 2020</p>
						  	</div> <!-- /#news -->
						</div>
					</div> <!-- /.about-tab-wrapper -->
				</div> <!-- /.container -->
			</div> <!-- /.about-text -->


<br><br><br>


			<!--
			=============================================
				Testimonial
			==============================================
			-->
			<div class="testimonial-section bg-image">
				<div class="container">
					<div class="main-container col-md-6 col-md-offset-6">
						<div class="theme-title">
							<h6>Testimonials</h6>
							<!--<h2>What our corporate clients are saying.</h2>-->
							<h2>What people are saying about us!</h2>
						</div> <!-- /.theme-title -->
						<div class="testimonial-slider">
							<div class="item">
								<div class="wrapper">
									<p>I found Alex to be a great trainer, and a very inspiring person. It's clear he is very passionate about helping designers learn to code, and I look forward to more courses from him! </p>
									<div class="name clearfix">
										<img src="/assets/ssuubi.jpg" alt="">
										<h5>Ssubi</h5>
										<span>graduate of Build a Website from Scratch with HTML &amp; CSS</span>
									</div>
								</div> <!-- /.wrapper -->
							</div> <!-- /.item -->
							<div class="item">
								<div class="wrapper">
									<p>Alex is amazing and I honestly think he's the best tutor of all the courses I have taken before. Will definitely be following him in the future. </p>
									<div class="name clearfix">
										<img src="/assets/jesse.png" alt="">
										<h5>Jesse</h5>
										<span>graduate of Bootstrap &amp; Ruby on Rails framework</span>
									</div>
								</div> <!-- /.wrapper -->
							</div> <!-- /.item -->
						</div> <!-- /.testimonial-slider -->
					</div> <!-- /.main-container -->
				</div> <!-- /.container -->
			</div> <!-- /.testimonial-section -->



			<!--
			=============================================
				Our Team Style One
			==============================================
			-->
			<div class="our-team-styleOne inner-page style-two">
				<div class="container">
					<div class="title">
						<center><h2>Our team members are ready <br>for your service</h2></center>
					</div> <!-- /.title -->
					<div class="row">
						<div class="col-md-4 col-xs-6">
							<div class="single-team-member">
								<div class="image">
									<img src="/assets/team/2.jpg" alt="" >
									<div class="opacity tran3s">
										<ul class="tran3s">
											<li><a href="http://www.samhez.com" class="tran3s"><i class="fa fa-chain" aria-hidden="true"></i></a></li>

											<li><a href="https://twitter.com/samhez" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div> <!-- /.image -->
								<h6>Samuel Hezekiah Epodoi</h6>
								<p>Developer</p>
							</div> <!-- /.single-team-member -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-xs-6">
							<div class="single-team-member">
								<div class="image">
									<img src="/assets/team/1.jpg" alt="">
									<div class="opacity tran3s">
										<ul class="tran3s">
											<li><a href="https://www.alexshyaka.site" class="tran3s"><i class="fa fa-chain" aria-hidden="true"></i></a></li>
											
										</ul>
									</div>
								</div> <!-- /.image -->
								<h6>Alex Shyaka</h6>
								<p>Founder</p>
							</div> <!-- /.single-team-member -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-xs-6">
							<div class="single-team-member">
								<div class="image">
									<img src="/assets/team/3.jpg" alt="">
									<div class="opacity tran3s">
										<ul class="tran3s">
											<li><a href="http://www.iviidev.info" class="tran3s"><i class="fa fa-chain" aria-hidden="true"></i></a></li>

											<li><a href="https://twitter.com/makallancg2" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div> <!-- /.image -->
								<h6>Bruce Allan Makaaru</h6>
								<p>Developer</p>
							</div> <!-- /.single-team-member -->
						</div> <!-- /.col- -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.our-team-styleOne -->
