<section id="about-page">
   <p class="lead">We are a web development shop for full stack developers. Rails is our forte!. We are located at Plot 722 Namuli road Bukoto Behind Cayenne.</p>
  <p id="contact-number">Contact us on <telephone>0752969844</telephone></p>
</section>
