<section id="help_page">
   <p class="lead">We are a web development shop for full stack developers. Rails is our forte!. We are still building out these pages so please be patient with us. We handcraft everything we build so this might take sometime.</p>
</section>
