    <div class="cover">
        <div class="cover-text">
            <h1>You probably haven&rsquo;t heard of us.</h1>
            <p class="lead">We're that "cool" vegan uncle who doesn't have kids and somehow makes a living repairing antique polaroid cameras, while drinking a $38 bottle of artisanal cold-brew.</p>
            <a href="#why-us" role="button" class="btn btn-danger btn-lg">Let's get started, I guess.</a>
        </div>
    </div>
    
    <section class="testimonial">
        <div class="container">
            <blockquote>
                &ldquo; I never realized how uncool I was before. Hipstrify.io lovingly crafted me into shape, complete with a skin-fade, fresh denim &amp; a moustache &mdash; not only were they late, but they were overbudget. Highly recommended! &rdquo;
                <cite>&mdash; A Happy Client</cite>
            </blockquote>
        </div>
    </section>
    
    <section id="why-us">
        <h2>Why Hipstrify.io?</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Artisanal</h3>
                    <p>Squid synth Marfa, fashion axe readymade whatever four loko aesthetic tote bag tilde. Mustache try-hard skateboard blog, umami ugh gentrify chia trust fund whatever. Church-key leggings small batch Etsy, taxidermy VHS meggings deep v slow-carb 8-bit blog.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Readymade</h3>
                    <p>Squid synth Marfa, fashion axe readymade whatever four loko aesthetic tote bag tilde. Mustache try-hard skateboard blog, umami ugh gentrify chia trust fund whatever. Church-key leggings small batch Etsy, taxidermy VHS meggings deep v slow-carb 8-bit blog.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Small Batches</h3>
                    <p>Squid synth Marfa, fashion axe readymade whatever four loko aesthetic tote bag tilde. Mustache try-hard skateboard blog, umami ugh gentrify chia trust fund whatever. Church-key leggings small batch Etsy, taxidermy VHS meggings deep v slow-carb 8-bit blog.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section id="team">
        <div class="container">
            <h2>Meet our students</h2>
            <div class="row">
                <div class="col-sm-3">
                    <img src="/assets/jane.jpg" alt="Woman's face" class="img-circle">
                    <h4>Jane Doe</h4>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                </div>
                <div class="col-sm-3">
                    <img src="/assets/alex2.jpg" alt="Man's face" class="img-circle">
                    <h4>Alex Shyaka</h4>
                    <p>Studying at the rails shop helped me appreciate what it possible if you dare and try.</p>
                    <cite><strong>Developer at MTN-Uganda</strong></cite>
                </div>
                <div class="col-sm-3">
                    <img src="/assets/jenny.jpg" alt="Woman's face" class="img-circle">
                    <h4>Jenny Doe</h4>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                </div>
                <div class="col-sm-3">
                    <img src="/assets/jim.jpg" alt="Man's face" class="img-circle">
                    <h4>Jim Doe</h4>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section id="signup">
        <div class="container">
            <h2>Get our handcrafted newsletter</h2>
            <p class="lead">Seriously, we'll send you real paper in the mail. We don't do email.</p>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" placeholder="Put your real address in here...">
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-lg" type="button">Handcraft it</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

