    <div class="cover">
        <div class="cover-text">
        <div class="container">
            <div class="row">
               <div class=" col-sm-8">
                   <h1>You probably haven&rsquo;t heard of us.</h1>
                        <p class="lead">We're that "cool" vegan uncle who doesn't have kids and somehow makes a living repairing antique polaroid cameras, while drinking a $38 bottle of artisanal cold-brew.</p>
                   </div><!--col end-->
               </div><!-- row end-->
        </div><!--container end-->  
           <div class="container">
               <div class="row">
                   <div class="btn-action-call col-sm-8">
                       <a href="#why-us" role="button" class="btn btn-danger btn-lg">Let's get started, I guess.</a>
                   </div><!--col end-->
               </div><!-- row end-->
           </div><!--container end-->
              
            
        </div>
    </div>
    
    <section class="testimonial">
        <div class="container">
          <div class="row">
            <div class=" col-xs-12">
              <blockquote>
                &ldquo; I never realized how uncool I was before. Hipstrify.io lovingly crafted me into shape, complete with a skin-fade, fresh denim &amp; a moustache &mdash; not only were they late, but they were overbudget. Highly recommended! &rdquo;
                <cite>&mdash; A Happy Client</cite>
              </blockquote>
            </div>
          </div>

        </div>
    </section>

    <!-- PROJECT FEATURES
	================================================== -->
    <section id="project-features">
      <div class="container">

        <h2>Final Project Features</h2>
        <p class="lead">Throughout this entire course, you work towards building an incredibly beautiful web application
          using the incredibly well supported and famous <em><a href="http://guides.rubyonrails.org/">Ruby on Rails framework</a>.</em>.</p>

        <div class="row">
          <div class="col-sm-4">
            <img src="/assets/icon-design.png" alt="Design">
            <h3>Sexy &amp; Modern Design</h3>
            <p>You get to work with a modern, professional quality design &amp; layout.</p>
          </div><!-- col -->
          <div class="col-sm-4">
            <img src="/assets/icon-code.png" alt="Code">
            <h3>Quality HTML5 &amp; CSS3</h3>
            <p>You'll learn how hand-craft a stunning website with valid, semantic and beautiful HTML5 &amp; CSS3.</p>
          </div><!-- col -->
          <div class="col-sm-4">
            <img src="/assets/icon-cms.png" alt="CMS">
            <h3>Easy-to-use CMS</h3>
            <p>Allow your clients to easily update their websites by converting your static websites to dynamic websites, using WordPress.</p>
          </div><!-- col -->

        </div><!-- row -->

      </div><!-- container -->
    </section><!-- project-features -->


    <section id="team">
        <div class="container">
            <h2>Meet our students</h2>
            <div class="row">
                <div class="col-sm-3">
                    <img src="/assets/jane.jpg" alt="Woman's face" class="img-circle">
                    <h4>Jane Doe</h4>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                </div>
                <div class="col-sm-3">
                    <img src="/assets/alex2.jpg" alt="Man's face" class="img-circle">
                    <h4>Alex Shyaka</h4>
                    <p>Studying at the rails shop helped me appreciate what it possible if you dare and try.</p>
                    <cite><strong>Developer at MTN-Uganda</strong></cite>
                </div>
                <div class="col-sm-3">
                    <img src="/assets/jenny.jpg" alt="Woman's face" class="img-circle">
                    <h4>Jenny Doe</h4>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                </div>
                <div class="col-sm-3">
                    <img src="/assets/jim.jpg" alt="Man's face" class="img-circle">
                    <h4>Jim Doe</h4>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section id="signup">
        <div class="container">
            <h2>Get our handcrafted newsletter</h2>
            <p class="lead">Please enter your email address, to keep abrest with the inside scoop.</p>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <%=form_for Newsletter.new  do |f| %>
                        <div class="input-group">
                            <!--<input type="text" name="email" class="form-control input-lg" placeholder="Enter your email address in here...">-->
                            <%= f.email_field :email, class: 'form-control input-lg', placeholder: 'Enter your email address in here..'%>
                            <span class="input-group-btn">
                                <!--<button class="btn btn-warning btn-lg" type="button">Submit</button>-->
                              <%= f.submit value: 'Submit Email', class:'btn btn-warning btn-lg'%>
                            </span>
                        </div>

                    <%end%>
                </div>
            </div>
        </div>
    </section>

