<%= render 'layouts/partials/defaulthero'%>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <section style="padding-top:120px;"><p class="lead">This is the curriculum section-work in progress</p></section>
    </div>
  </div>
</div>
