<%= render 'layouts/partials/defaulthero'%>
    <div class="container-curriculum">
      <!--<div class="row">-->
        <!--<div class="col-sm-6">-->
            <div id="old-way">
              <h3>The old way of doing things</h3>
              <br>
              <img alt="web development full-stack immersive bootcamp" class="img-responsive" src="/assets/oldway_graphic2">
            </div>
        <!--</div>-->
        <!--<div id="col-sm-2">-->
          <div id="new-way">
            <h3>The new way with TheRailsShop</h3>
            <br>
            <img alt="web development full-stack immersive bootcamp" class="img-responsive" src="/assets/newway_graphic">
            <br>
            <br>
            <p>A guided and structured path to reach your goal.</p>
          </div>
        <!--</div>-->
      <!--</div>-->
    </div>

