<%= render 'layouts/partials/defaulthero'%>
    <div class="container-curriculum">
      <!--<div class="row">-->
        <!--<div class="col-sm-6">-->
            <div id="old-way">
              <p class="lead">The old way of doing things</h3>
              <br>
              <img alt="web development full-stack immersive bootcamp" class="img-responsive" src="/assets/oldway_graphic2">
            </div>
        <!--</div>-->
        <!--<div id="col-sm-2">-->
          <div id="new-way">
            <p class="lead">The new way with TheRailsShop</h3>
            <br>
            <img alt="web development full-stack immersive bootcamp" class="img-responsive" src="/assets/newway_graphic">
            <br>
            <br>
            <p>A guided and structured path to reach your goal.</p>
          </div>
        <!--</div>-->
      <!--</div>-->
 
    </div>
<section id="text-intro">
     <div class="container">
             <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                  <h2>A one on one training that you can trust</h2>
                  <p class="lead"> A robust real world training program</p>
              </div><!--col-->
          </div><!--row-->
          <div class="row">
             <div class="col-xs-3">
                 <div class="curriculum-assets">
                  <img src="/assets/icon_html", alt="html icon"><br>
                  <p>HTML/CSS</p>
              </div>
             </div><!--col-->
              <div class="col-xs-3">
                  <div class="curriculum-assets">
                      <img src="/assets/icon_rails", alt="ruby icon"><br>
                      <p>Rails</p>
                  </div>
              </div><!--col-->
              <div class="col-xs-3">
                  <div class="curriculum-assets">
                      <img src="/assets/icon_java", alt="ruby icon"><br>
                      <p>Javascript</p>
                  </div>
              </div><!--col-->

             <div class="col-xs-3">
                  <div class="curriculum-assets">
                      <img src="/assets/icon_ruby", alt="ruby icon"><br>
                      <p>Ruby</p>
                  </div>
            </div><!--col-->

         </div><!--row-->
    </div><!--container-->
</section><!--section-->

