<%= render 'layouts/partials/defaulthero'%>
    <div class="container-curriculum">
      <!--<div class="row">-->
        <!--<div class="col-sm-6">-->
            <div id="old-way">
              <p class="lead">The old way of doing things</p>
              <br>
              <img alt="web development full-stack immersive bootcamp" class="img-responsive" src="/assets/oldway_graphic2">
            </div>
        <!--</div>-->
        <!--<div id="col-sm-2">-->
          <div id="new-way">
            <p class="lead">The new way with TheRailsShop</p>
            <br>
            <img alt="web development full-stack immersive bootcamp" class="img-responsive" src="/assets/newway_graphic">
            <br>
            <br>
            <p>A guided and structured path to reach your goal.</p>
          </div>
        <!--</div>-->
      <!--</div>-->
 
    </div>
<!--<section id="text-intro">-->
     <div class="container">
             <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                  <h2>One on one training that you can trust</h2>
                  <p class="lead"> A robust real world training program</p>
              </div><!--col-->
          </div><!--row-->
          <div class="row">
             <div class="col-xs-3">
                 <div class="curriculum-assets">
                  <img src="/assets/icon_html", alt="html icon"><br>
                  <p>HTML/CSS</p>
              </div>
             </div><!--col-->
              <div class="col-xs-3">
                  <div class="curriculum-assets">
                      <img src="/assets/icon_rails", alt="ruby icon"><br>
                      <p>Rails</p>
                  </div>
              </div><!--col-->
              <div class="col-xs-3">
                  <div class="curriculum-assets">
                      <img src="/assets/icon_java", alt="ruby icon"><br>
                      <p>Javascript</p>
                  </div>
              </div><!--col-->

             <div class="col-xs-3">
                  <div class="curriculum-assets">
                      <img src="/assets/icon_ruby", alt="ruby icon"><br>
                      <p>Ruby</p>
                  </div>
            </div><!--col-->

         </div><!--row-->
    </div><!--container-->
<!--</section>&lt;!&ndash;section&ndash;&gt;-->

<!--Curriculum brief section-->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="desc">
          <p>Our robust curriculum is designed to make you think, work and tackle challenges like a professional software engineer.
            You will gain marketable skills by building fully functioning web applications, use real tools (no in-browser fluff) and take onan apprentice
            role to build an algorithmically driven web application like it is done in the real world; as part of an agile team.</p>
        </div>
      </div>
    </div>
  </div>

<!-- during the program section-->

<div class="during-section">
  <div class="container">
    <div class="row">
      <p class="text-center">During the program you'll:</p>
      <div class="col-sm-6">
        <ul>
          <li>Build and launch fully-functional web applications</li>
          <li>Build an advanced web application like it is done in the real world, as part of an agile team</li>
          <!--<li></li>-->
        </ul>
      </div>
        <div class="col-sm-6">
          <ul>
            <li>Create a sophisticated coding portfolio on GitHub</li>
            <li>Apply and understand MVC architecture, Object Oriented Programming, inheritance and test driven development</li>
            <!--<li></li>-->
          </ul>
        </div>
    </div>
  </div>
</div>
<section id="reasons-to-join">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h3 class="text-center">The best support, at the right time, to help you grow</h3>
       <p class="join-reasons">Learning from your own mistakes is what makes you the best developer. We're here to help you learn those crucial lessons, fast - often within minutes -
         show you what you did wrong and how you can improve further. By giving you a network of friendly experts that you can
         depend on, you can focus on what matters most: reaching your professional goal.</p>
      </div>

      <div class="col-sm-8 col-sm-offset-2">
        <h3 class="text-center">1-on-1 Mentor Sessions</h3>
        <p class="join-reasons">Weekly pair-programming sessions with your personal senior software engineering mentor.
          Designed to challenge and built to elevate your coding skills to the next level.</p>
      </div>

      <div class="col-sm-8 col-sm-offset-2">
        <h3 class="text-center">Custom Help When You Need it Most</h3>
        <p class="join-reasons">Everyone makes mistakes and gets stuck. We get it. That's why we're never further away than a simple click.
          Say hello to our friendly Firehose Support and goodbye to endless internet searches.</p>
      </div>
    </div>
  </div>
</section>
<section class="download-btn">
  <div class="container">
    <div class="col-sm-4 col-sm-offset-4">
      <%= link_to "Download our Curriculum", "/public/write_up.pdf", class: "btn btn-lg btn-primary", target: "_blank" %>
    </div>
  </div>
</section>
