<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <section style="padding-top:120px; color:blue"><h1>This is the curriculum section</h1></section>
    </div>
  </div>
</div>
