<!-- FEATURE IMAGE
================================================== -->
<section class="feature-image feature-image-default" data-type="background" data-speed="2">
  <h1>Resources</h1>
</section>


<!-- MAIN CONTENT
================================================== -->
<div class="container">
  <div class="row" id="primary">

    <div id="content" class="col-sm-12">

      <section class="main-content">
        <p class="lead">Welcome to the Ruby on Rails and Bootstrap resources page! On this page, I will provide you with useful resources, plugins, tools, applications, and websites to help make your life as a rails developer a little bit easier. <strong>I recommend adding this page to your bookmarks for convenient future reference.</strong></p>

        <p><em>Please keep in mind that some of the following resources are my affiliate links, and should you decide to make a purchase, I will earn a small commission &mdash; at no extra cost to you! I am recommending these resources only because I have found them to be incredibly helpful. Don&rsquo;t spend your money on any products or resources unless you think they will benefit you.</em></p>

        <hr>

        <div class="resource-row clearfix">
          <div class="resource col-md-4 col-xs-8 col-xs-offset-2">
            <a href="https:&#x2F;&#x2F;www.namecheap.com&#x2F;?aff=104562">
              <img src="http:&#x2F;&#x2F;files.namecheap.com&#x2F;graphics&#x2F;linkus&#x2F;200x200-1.gif" width="200" height="200" border="0" alt="Namecheap.com"></a>
          </div>
          <div class="resource col-md-4 col-xs-8 col-xs-offset-2">
            <!-- BEGIN LINK --><a href="https:&#x2F;&#x2F;www.namecheap.com&#x2F;?aff=104562">
            <img src="http:&#x2F;&#x2F;files.namecheap.com&#x2F;graphics&#x2F;linkus&#x2F;200x200-2.gif" width="200" height="200" border="0" alt="Namecheap.com"></a><!-- END LINK -->
          </div>
          <div class="resource col-md-4 col-xs-8 col-xs-offset-2">
            <!-- BEGIN LINK --><a href="https:&#x2F;&#x2F;www.namecheap.com&#x2F;?aff=104562">
            <img src="http:&#x2F;&#x2F;files.namecheap.com&#x2F;graphics&#x2F;linkus&#x2F;200x200-3.gif" width="200" height="200" border="0" alt="Namecheap.com"></a><!-- END LINK -->
          </div>
          <div class="resource col-md-4 col-xs-8 col-xs-offset-2">
            <!-- BEGIN LINK --><a href="https:&#x2F;&#x2F;www.namecheap.com&#x2F;?aff=104562">
            <img src="http:&#x2F;&#x2F;files.namecheap.com&#x2F;graphics&#x2F;linkus&#x2F;200x200-4.gif" width="200" height="200" border="0" alt="Namecheap.com"></a><!-- END LINK -->
          </div>
          <div class="resource col-md-4 col-xs-8 col-xs-offset-2">
            <!-- BEGIN LINK --><a href="https:&#x2F;&#x2F;www.namecheap.com&#x2F;?aff=104562">
            <img src="http:&#x2F;&#x2F;files.namecheap.com&#x2F;graphics&#x2F;linkus&#x2F;200x200-5.gif" width="200" height="200" border="0" alt="Namecheap.com"></a><!-- END LINK -->
          </div>
          <div class="resource col-md-4 col-xs-8 col-xs-offset-2">
            <!-- BEGIN LINK --><a href="https:&#x2F;&#x2F;www.namecheap.com&#x2F;?aff=104562">
            <img src="http:&#x2F;&#x2F;files.namecheap.com&#x2F;graphics&#x2F;linkus&#x2F;200x200-6.gif" width="200" height="200" border="0" alt="Namecheap.com"></a><!-- END LINK -->
          </div>

        </div>
      </section>

    </div><!-- content -->

  </div><!-- primary -->
</div><!-- container -->

<!--&lt;!&ndash; MODAL-->
<!--================================================== &ndash;&gt;-->
<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
  <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
        <!--<h4 class="modal-title" id="myModalLabel"><i class="icon icon-envelope-alt"></i> Subscribe to our Mailing List</h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--<p>Simply enter your name and email! As a thank you for joining us, we're going to give you one of our best-selling courses, <em>for free!</em></p>-->

        <!--<form class="form-inline" role="form">-->
          <!--<div class="form-group">-->
            <!--<label class="sr-only" for="subscribe-name">Your first name</label>-->
            <!--<input type="text" class="form-control" id="subscribe-name" placeholder="Your first name">-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label class="sr-only" for="subscribe-email">and your email</label>-->
            <!--<input type="text" class="form-control" id="subscribe-email" placeholder="and your email">-->
          <!--</div>-->
          <!--<input type="submit" class="btn btn-danger" value="Subscribe!">-->
        <!--</form>-->

        <!--<hr>-->

        <!--<p><small>By providing your email you consent to receiving occasional promotional emails &amp; newsletters. <br>No Spam. Just good stuff. We respect your privacy &amp; you may unsubscribe at any time.</small></p>-->
      <!--</div>&lt;!&ndash; modal-body &ndash;&gt;-->
    <!--</div>&lt;!&ndash; modal-content &ndash;&gt;-->
  <!--</div>&lt;!&ndash; modal-dialog &ndash;&gt;-->
<!--</div>&lt;!&ndash; modal &ndash;&gt;-->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script src="assets/js/jquery-3.1.0.js"></script>-->
<!--<script src="assets/js/main.js"></script>-->
<!--<script src="assets/js/bootstrap.min.js"></script>-->
</body>
</html>