<div class="cover">
  <div class="cover-text">
    <h1>You probably haven&rsquo;t heard of us.</h1>
    <p class="lead">We're that "cool" vegan uncle who doesn't have kids and somehow makes a living repairing antique polaroid cameras, while drinking a $38 bottle of artisanal cold-brew.</p>
    <a href="#why-us" role="button" class="btn btn-danger btn-lg">Let's get started, I guess.</a>
  </div>
</div>

<div id="blog-container">
  <p id="notice"><%= notice %></p>

  <article class="col-xs-8 col-sm-12">
        <section class="post-head">
          <h2>Blog Post title</h2>
          <small>Posted on <time datetime="2016-8-20 ">August 20, 2016</time></small>
        </section>
        <section class="post-body">
          <p>This is blog is written by me Im just testing out this blogging thing and I hope to finish it byt tomorrow
            This is blog is written by me Im just testing out this blogging thing and I hope to finish it byt tomorrow
            This is blog is written by me Im just testing out this blogging thing and I hope to finish it byt tomorrow
            This is blog is written by me Im just testing out this blogging thing and I hope to finish it byt tomorrow
            <strong>Still developing this blog hope to finish it tomorrow</strong>
          </p>

        </section>
        <section class="post-footer">
          <p>Filed under General</p>
          <p>Written by alex</p>
        </section>

  </article>
<br>
<%= link_to 'New Blog', new_blog_path %>

</div>
