<h1>Hello <%= @newsletter.name %>&cedil;</h1>
<h3> Sorry for the outdated message sent earlier. I aplologize, it was my mistake.</h3>
<p class="lead">I'm pleased to inform you that we shall continue to run our holiday coding classes this coming holiday. Those who
  started last holiday can continue to come and be part of the sessions. Remember when you enroll at <a href="www.therailsshop.club">Therailsshop</a> you
  are part of the family for life !!
</p><br>
<p> Please get in touch with me on my cell at 0752969844 or drop me an email on alexshyaka@therailsshop.club whenever you have a question regarding the classes.
I will communicate again before the holidays begin with the details regarding the date and times that the sessions will take place.  </p>
<p>I will also be conducting weekend classes in neighborhoods which are far off from our current location in Bukoto. The details will be communicated as soon as everything is finalised
. You never know <a href="www.therailsshop.club">Therailsshop</a> coding sessions could be in a neighborhood near you !</p>
<p>Once again thanks alot for the continued support and make sure to follow our social media handles  <a href="https://web.facebook.com/TheRailsShop/">here</a> on facebook and
  <a href="https://twitter.com/RailsShop">here</a> on Twitter.
<p>Be blessed</p>
<h4>Nkusi Alex Shyaka</h4>
<p><em>Founder</em> <a href="www.therailsshop.club">Therailsshop</a>.A web skills training shop.</p>
<p>alexshyaka@therailsshop.club</p>
<p><em>+256752969844</em></p>
