<h1>Hello <%= @newsletter.name %>&rsaquo;</h1>

<p class="lead">Like I had promised earlier, it's that time for an inside scoop on what <a href="www.therailsshop.club">Therailsshop coding club</a> is all about.</p><br>
<p>A lot of us have the desire to contribute positively to society. For me Therailsshop is that one thing that keeps me awake at night. I breathe eat sleep thinking about how I can make it better and also trying to learn from the best out there who are already doing what I'm trying to achieve.
What are we trying to achieve here ?</p><br>
<p>My dream is to build a creative space where young people can come learn dream and build technology ideas. I want to build a community that supports each other on technical issues, that works on projects together, that recommends each other for jobs,that holds each other's hand through this learning journey.
In our creative space, we go through an immersive 30 day ruby on rails training. You learn to build web applications fast and efficiently. Rails being an opinionated framework, it teaches you to follow best industry practices. From there on you get an opportunity to join a community which is rapidly growing. A community that will support you and also help you incubate your tech business idea.
Our best trainees also get an opportunity to join one of the technology firms that we partner with as interns.</p><br>
<p>We also have a social responsibility at Therailsshop, we want to give an opportunity to kids who might be talented but do not get the exposure to a space like ours. 
The idea is to visit schools and run technology workshops and identify the kids that have the passion for technology and then give them an opportunity to come and learn for free.
What keeps me motivated ?
Apart from the selfish reason of making money to support me and my family I feel an obligation to make a small change that I hope the ones that come after me can continue and take further. As a country we are faced with a huge challenge of youth unemployment, who are quite honestly a time bomb. </p><br>
<p>That aside we are churning out graduates who hit the job market with barely any skills. 
At Therailsshop we impart practical technical skills that are relevant for the job market but also if you are entrepreneurial, skills that can turn into a business that employs people.
The skills that you learn here do not require you to have any special technical background. All you need is the hunger and the passion to learn and also to teach others.</p><br>
<h3>Why coding ?</h3>
<p>Contrary to popular belief it is not as difficult as you think. The barrier to entry is so low that you only need a relatively good computer with an internet connection.
If you are learning to be a networks engineer the equipment you use is so damn expensive that you would need to find a job in a huge tech firm to actually put your theoretical skills to practical use. We all very well know how difficult getting into a job like that is in this country. 
The most amazing thing is their is plenty of knowledge and help for absolutely free on the internet that is invaluable when you are learning to code, all I do is guide you into the right path and let you explore.</p><br>
<p>he power to program computers practically turns you into a magician. You can dream up anything and make it happen. The applicability is amazing. It doesn't matter what industry your in, if you have the ability to program computers who will be indispensable. There is no industry whatsoever where computers are not used, so besides your other profession, if you are able to talk to computer using code your are extremely valuable to your employer.</p><br>
<p>So join me make a small difference. Think about what keeps you awake !. Have a good one<p><br>
<h4>Nkusi Alex Shyaka</h4>
<p><em>Founder</em> <a href="www.therailsshop.club">Therailsshop</a>.A web skills training shop.</p>
<p>alexshyaka@therailsshop.club</p>
<p><em>+256752969844</em></p>