<h1>Hello <%= @newsletter.name %>&cedil;</h1>

<p class="lead">As we close 2016, I would like to thank everyone who has supported <a href="www.therailsshop.club">Therailsshop coding club</a>.
I can hear you cheering for us even when you do not say anything. I really appreciate the belief that you have in us. Especialy the parents who
have entrusted me with their children to teach them the basics fo web programming.
</p><br>
<p> We shall close the year on Tuesday 20th December 2016 and we shall reopen for business again on the 9th January 2017. Next year is going to be
very interesting for the Therailsshop as we continue to do the good work of providing 21st century skills to our young ones so they don't get left behind
in this fast changing world.  </p>
<p>Once again thanks alot for the support and may you have a merry christmas and happy new year!.</p>
<p>Be blessed</p>
<h4>Nkusi Alex Shyaka</h4>
<p><em>Founder</em> <a href="www.therailsshop.club">Therailsshop</a>.A web skills training shop.</p>
<p>alexshyaka@therailsshop.club</p>
<p><em>+256752969844</em></p>
