<h1>Thanks for signing up, <%= @newsletter.name %>!</h1>
<p class='lead'>We shall be sending you email with the latest inside scoop of what's happening at <a href="www.therailsshop.club">Therailsshop</a> coding club.</p><br>
<p>Right now we are currently enrolling students for our coding classes. The classes run for an intense 30 days Monday to Friday from 10am to 12 noon. You can look at our <a href="http://www.therailsshop.club/static_pages/our_curriculum">curriculum</a> for a more detailed write up of what you should expect.</p>

<p><strong>Nkusi Alex Shyaka</strong></p>
<p><strong>Founder: <a href="www.therailsshop.club">Therailsshop</a></strong></p>
<p>+256752969844</p>