 <h1>Thanks for signing up, <%= @newsletter.name %>!</h1>
    <p>We shall be sending you email with the latest inside scoop of what's happening at Therailsshop coding club. This email will start to look better overtime because we believe in iterating learning and improving constantly. Thanks for joining and have a great day!. </p>