// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

html,
body,
.cover{
    
    height: 100%;
}
.cover{
    background: image-url("couchfriends.jpg") top left no-repeat;
    background-size: cover;
    display: table;
    width:100%;
    padding: 0 20%;
    box-shadow: inset 0 0 100px #000;
}
.blog-cover{
    background: image-url("just_wing_it2.jpg") top left no-repeat;
    background-size: cover;
    display: table;
    width:100%;
//    height: 100%;
    padding: 0 20%;
    box-shadow: inset 0 0 100px #000;
}
.blog-cover h1{
    padding-top: 35px;
}
.blog-button{
    margin-bottom: 80px;
}
.cover-text{
    text-align:center;
    color:white;
    display:table-cell;
    vertical-align: middle;
}

.cover-text h1{
    
    margin: 0;
    font-size: 70px;
    letter-spacing: -3px;
}

nav.navbar-inverse{
    background: rgba(0, 0, 0, 0.5);
    border:none;
}
.testimonial{
    background: #222;
}
blockquote{
    border: none;
    margin: 0;
    font-family: Georgia, Times, serif;
    font-style: italic;
    font-size: 32px;
    color: white;
    line-height: 50px;
}

blockquote cite{
    display: block;
    text-align: right;
    font-style: normal;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #888;
    margin-top: 40px;
    
}
.back-to-blog-list{
;
}

section{
    padding: 100px;
}
h2{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    font-size: 28px;
}

h2 + p{
    text-align: center;
/*    margin-top: -60px;*/
}
#team{
    background: image-url("fan.jpg") top left no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    
}

//
//@media only screen and (max-width: 568px){
//    .cover h1{
//        font-size: 40px;
//    }
//    section{
//        padding-top: 20px;
//    }
//}
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
     .cover-text h1{
        font-size: 12px;
    }
    section{
        padding-top: 10px;
    }
}
//blog styling

article{
//margin: 40px;
  margin: 0 auto;
   
    
}
.blog-image h4, p, cite{
  font-weight: bold;

}


small{
  display: block;
  margin: 0 200px 10px;
  padding: 0 0 10px;
  border-bottom: solid 2px #eee;
  color: darkred;
}
.post-head{
 padding-bottom: 2px;
}

.author-image{

}
.show-page-author-image{
  padding-top: 60px;
}
.author-text{
  font-family: Georgia, Arial, serif;
  line-height: 1.4em;
}
.blog-title h2{
  padding: 10px 0;
  border-bottom: solid 2px dimgrey;
//  border-bottom-width: thin;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.blog{
  padding-top: 20px;
}
#new-blog{
  padding-top: 40px;
  text-align: center;
}
#blog-edit{
  padding-top: 40px;
}
.post-body p{
  font-family: Georgia, Arial, serif;
  line-height: 1.4em;
  font-size: 24px;
  display: block;
  font-weight: normal;
}
.post-footer{
 font-weight: bold;
 color: darkgrey;
}

.posted-date p{
//   padding-left: 200px;
  color: red;
  font-weight: bold;
}

#contact-number{
   text-align: center;
   font-weight: bold;

}
//footer styling

footer{
  text-align: center;
  background: #222;
  font-family: medium-content-serif-font,Helvetica,Arial, sans-serif;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 40px;
  padding-top: 20px;
  color: white;
}

footer a{
  color: hotpink;
}
footer p{
  text-align: center;
  color: #aaa;
  font-size: 14px;

}

.alert{

  margin-top: 40px;
}
//Login section

.login{
  padding-top: 40px;
}
.posted-time{
    padding-top: 40px;
    
}
//devise styling

.sign-up{
  padding-top: 40px;
}
