
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

html,
body,
.cover{
    
    height: 100%
}
.cover{
    background: image-url("couchfriends.jpg") top left no-repeat;
    background-size: cover;
    display: table;
    width:100%;
    padding: 0 20%;
    box-shadow: inset 0 0 100px #000;
}
.cover-text{
    text-align:center;
    color:white;
    display:table-cell;
    vertical-align: middle;
}

.cover-text h1{
    
    margin: 0;
    font-size: 70px;
    letter-spacing: -3px;
}

nav.navbar-inverse{
    background: rgba(0, 0, 0, 0.5);
    border:none;
}
.testimonial{
    background: #222;
}
blockquote{
    border: none;
    margin: 0;
    font-family: Georgia, Times, serif;
    font-style: italic;
    font-size: 32px;
    color: white;
    line-height: 50px;
}

blockquote cite{
    display: block;
    text-align: right;
    font-style: normal;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #888;
    margin-top: 40px;
    
}

section{
    padding: 100px;
}
h2{
    text-transform: uppercase;
    font-weight: bold;
    margin: 0, 0, 60px;
    text-align: center;
    font-size: 28px;
}

h2 + p{
    text-align: center;
/*    margin-top: -60px;*/
}
#team{
    background: image-url("fan.jpg") top left no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    
}

//
//@media only screen and (max-width: 568px){
//    .cover h1{
//        font-size: 40px;
//    }
//    section{
//        padding-top: 20px;
//    }
//}
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
     .cover-text h1{
        font-size: 12px;
    }
    section{
        padding-top: 10px;
    }
}
//blog styling

article{
    //margin: 40px;
  margin: 0 auto;
}
.blog-image h4, p, cite{
  font-weight: bold;

}

small{
  display: block;
  margin: 0 200px 10px;
  padding: 0 0 10px;
  border-bottom: solid 1px #eee;
  color: #00c6a0;
}
section.post-head{
 padding-bottom: 5px;
}
section.post-head h2{
  border-bottom: solid 2px red;
  padding-bottom: 4px;
  margin: 0 400px 20px;
}
section.post-body{
  padding-top:4px;

}

section.post-body p{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 5px;
}
section.post-footer{

}

#contact-number{
   text-align: center;
   font-weight: bold;

}
//footer styling

footer{
  text-align: center;
  background: #222;
  font-family: Helvetica,Arial, sans-serif;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 40px;
  padding-top: 20px;
  color: white;
}

footer a{
  color: hotpink;
}
footer p{
  text-align: center;
  color: #aaa;
  font-size: 14px;

}

