
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

html,
body,
.cover{
    
    height: 100%;
}
.cover{
    background: image-url("couchfriends.jpg") top left no-repeat;
    background-size: cover;
    display: table;
    width:100%;
    padding: 0 20%;
    box-shadow: inset 0 0 100px #000;
}
.cover-text{
    text-align:center;
    color:white;
    display:table-cell;
    vertical-align: middle;
}

.cover-text h1{
    
    margin: 0;
    font-size: 70px;
    letter-spacing: -3px;
}

nav.navbar-inverse{
    background: rgba(0, 0, 0, 0.5);
    border:none;
}
.testimonial{
    background: #222;
}
blockquote{
    border: none;
    margin: 0;
    font-family: Georgia, Times, serif;
    font-style: italic;
    font-size: 32px;
    color: white;
    line-height: 50px;
}

blockquote cite{
    display: block;
    text-align: right;
    font-style: normal;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #888;
    margin-top: 40px;
    
}

section{
    padding: 100px;
}
h2{
    text-transform: uppercase;
    font-weight: bold;
    margin: 0, 0, 60px;
    text-align: center;
    font-size: 28px;
}

h2 + p{
    text-align: center;
/*    margin-top: -60px;*/
}
#team{
    background: image-url("fan.jpg") top left no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    
}

footer{
    text-align: center;
    background: #222;
    font-family: Helvetica,Arial, sans-serif;
    padding: 20px;
    color: white;
}

footer a{
    color: hotpink;
}
//
//@media only screen and (max-width: 568px){
//    .cover h1{
//        font-size: 40px;
//    }
//    section{
//        padding-top: 20px;
//    }
//}
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
     .cover h1{
        font-size: 40px;
    }
    section{
        padding-top: 10px;
    }
}
//blog styling

#blog-container{
//    padding-top: 100px;
    width: 960px;
    margin: 0 auto;
}
header{
  text-align: center;
  background-color: #fff;
  padding-top: 10px;
  color: #1a71b8;
}
h1{
  text-align: center;
}

article{
  background-color: white;
  padding: 20px;
  margin: 20px 0px;
}

article p{
  margin: 0 0 1em;
}
section.post-head small{
  display: block;
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: solid 1px #eee;
  color: #00c6a0;
}
section.post-head{
  padding-bottom: 20px;
}
section.post-head h2{
  border-bottom: solid 2px red;
  padding-bottom: 4px;
}
section.post-body{
  padding-top:4px;


}

section.post-body p{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

section.post-footer{
  font-size: 14px;
  border-top: solid 1px #eee;
  margin: 20px 0 0;
  padding: 20px 0 0;
}
#contact-number{
   text-align: center;
   font-weight: bold;

}



footer p{
  text-align: center;
  color: #aaa;
  font-size: 14px;
}

